
/*The div does not have text, but it's still treated as a box with content*/
.canvas{
    width:500;
    height:600px;
    background-color:#4d0f00;
    overflow:hidden;
  }

  /**/
.frame{
    border:50px solid black;
    width:500px;

    /*Changes the space between frame and canvas*/
    padding:50px;

    /*Changes the space between the frame and the border of the webpage*/
    margin:20px auto;
  }

  .one{
    width:525px;
    height:200px;
    background-color:#efb762;
    margin:20px auto;
    box-shadow: 0 0 3px 3px #efb762;
    border-radius:30px 25px 60px 12px;
    transform:rotate(3.6deg);
  }

  .two{
    width:675px;
    height:150px;
    background-color:#860402d7;
    /*helps give it space between two and three*/
    margin: 0 auto 20px;
    box-shadow: 0 0 3px 3px #8f0401;
    border-radius:30px 25px 60px 12px;

    transform:rotate(-4.9deg);
  }

  /*Using a percentage so I don't always have to use pixels when resizing*/
  .three{
    width:100%;
    height:28%;
    background-color:#03808ede;
    margin:auto;
    filter:blur(8.9px);
    box-shadow: 0 0 5px 5px #b20403;
    border-radius:30px 25px 60px 12px;

    transform:rotate(6.6deg);
  }

  .one,.two{
    filter: blur(8.9px);
  }

  /**/