
/*The div does not have text, but it's still treated as a box with content*/
.canvas{
    width:500;
    height:600px;
    background-color:#4d0f00;
    overflow:hidden;
    filter:blur(2px);
  }

  /**/
.frame{
    border:50px solid black;
    width:500px;

    /*Changes the space between frame and canvas*/
    padding:50px;

    /*Changes the space between the frame and the border of the webpage*/
    margin:20px auto;
  }

  .one{
    width:425px;
    height:150px;
    background-color:#efb762;
    margin:20px auto;
  }

  .two{
    width:475px;
    height:200px;
    background-color:#8f0401;
    /*helps give it space between two and three*/
    margin: 0 auto 20px;
  }

  /*Using a percentage so I don't always have to use pixels when resizing*/
  .three{
    width:91%;
    height:28%;
    background-color:#b20403;
    margin:auto;
    filter:blur(2px);
  }

  .one,.two{
    filter: blur(1px);
  }

  /**/